# Note: Don't surround values with "" or '' this is implied

[irc]
nickname = jubjub
username = jubjub
host = localhost
port = 6667
chan = #teabreakbot
modules = template,giveops,jtime

[log]
ENABLED = False
PATH = ~/.jubjub.log

[misc]
TEABREAKLENGTH = 600
